.error {
  padding: 8rem 1rem;
  text-align: center;

  @media only screen and (max-width: 800px) {
    padding: 5rem 1rem;
  }

  h1 {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 1px;
  }
}