//*
//------------------
//# Variables
//------------------
//*


// === Colors ===

$color--white: #FFFFFF;
$color--black: blue;
$color--gray: #8A8A8A;
$color--dark-gray: #242424;
$color--light-gray: #FAFAFA;
$color--red: #F05F5D;
$color--orange: #ED6B52;
$color--blue: #1FC3F3;
$color--green: #6DD16D; // Add more as needed

$color--heading: $color--dark-gray;
$color--body: $color--dark-gray;


// === Fonts ===

$font--title: "Lobster", serif;
$font--subtitle: "Lobster", serif;
$font--body: "Lobster", serif;
$font--caption: "Lobster", serif; // Add more as needed


// === Sizing ===

$body--font-weight: 400;
$body--line-height: 1.5;
$body--font-size-xxl: 1.5rem; /* 24px */
$body--font-size-xl: 1.25rem; /* 20px */
$body--font-size-l: 1.125rem; /* 18px */
$body--font-size-m: 1rem; /* 16px */
$body--font-size-s: 0.875rem; /* 14px */
$body--font-size-xs: 0.75rem; /* 12px */

$heading--font-weight: 700;
$heading--line-height: 1.25;
$heading--font-size-xxxl: 5rem; /* 80px */
$heading--font-size-xxl: 3.75rem; /* 60px */
$heading--font-size-xl: 2.8125rem; /* 45px */
$heading--font-size-l: 2.25rem; /* 36px */
$heading--font-size-m: 1.75rem; /* 28px */
$heading--font-size-s: 1.375rem; /* 22px */
