/* Font Import */

@font-face {
    font-family: "Lobster", serif;
    src: url("assets/fonts/Lobster-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lobster", serif;
    src: url("assets/fonts/Lobster-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Arimo", sans-serif;
    src: url("assets/fonts/Arimo-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Arimo", sans-serif;
    src: url("assets/fonts/Arimo-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
    font-display: swap;
}