//*
//------------------
//# Variables
//------------------
//*


// === Fonts ===

$font--lobster: "lobster", sans-serif;
$font--fira-sans: "fira-sans", sans-serif;
$font--permanent-marker: "permanent-marker", sans-serif;

$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--semi-bold: 600;
$font-weight--bold: 700;


// === Colors ===

$color--orange: #d86e41;
$color--dark-orange: #C35528;
$color--red: #F05F5D;
$color--light-red: #ec8282;
$color--blue: #1FC3F3;
$color--green: #6DD16D;
$color--light-green: #D0f1D0;
$color--pink: #F3DCDC;
$color--dark: #202020;
$color--dark-gray: #2D2D2D;
$color--charcoal: #404041;
$color--gray: #c8c8c8;
$color--light-gray: #fbfbfb;
$color--medium-light-gray: #F5F2FA;
$color--white: #FFF;
$color--black: #000;
